@import "bootstrap/dist/css/bootstrap.min.css";
@import "datatables.net-dt/css/dataTables.dataTables.min.css";

body {
    background-color: #999999;
}

.bg-element {
    background-color: #FFFFFF;
}


/*sidebar stuff*/
.sidebar-link {
    color: inherit;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.sidebar-link:hover {
    background-color: #497c81;
    color: #FFFFFF;
    font-weight: 500;
}

.nav-pills .sidebar-link.active {
    background-color: #0f6469;
    color: #FFFFFF;
    font-weight: 500;
}