@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background-color: #999999;
}

.bg-element {
    background-color: #FFFFFF;
}


/*sidebar stuff*/
.sidebar-link {
    color: inherit;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    transition: background-color 0.15s ease, color 0.15s ease;
}

.sidebar-link:hover {
    background-color: #ACD1E9;
    color: #FFFFFF;
    font-weight: 500;
}

.nav-pills .sidebar-link.active {
    background-color: #6D929B;
    color: #FFFFFF;
    font-weight: 500;
}

.dt-layout-row
{
    margin: 2rem 0rem 2rem 0rem;
}

.dt-info {
    margin: 2rem 0rem 2rem 0rem;
}

.dt-layout-cell {
    margin: 1rem 0rem 1rem 0rem;
}

.dt-paging-button { /*TODO*/
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: var(--dt-paging-button_padding);
    margin-left: var(--dt-paging-button_margin-left);
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: var(--dt-paging-button_color);
    border: var(--dt-paging-button_border);
    border-radius: var(--dt-paging-button_border-radius);
    background: var(--dt-paging-button_background);
    box-shadow: var(--dt-paging-button_box-shadow);
    font-size: 100%;
}

dt.input { /*TODO*/
    margin: 0rem 1rem 0rem 1rem;
}