<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Database"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>

		<!-- DB Target -->
		<target xsi:type="Database"
				name="dbLog"
				dbProvider="Npgsql.NpgsqlConnection, Npgsql"
				connectionString="${configsetting:name=ConnectionStrings.PricesDB}">

			<commandText>
				insert into admin.logs_winservice (
				machine_name, log_date, log_level, message,
				logger, callsite, exception
				) values (
				@MachineName, CURRENT_TIMESTAMP, @Level, @Message,
				@Logger, @Callsite, @Exception
				);
			</commandText>

			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Callsite" layout="${callsite}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>

		<target xsi:type="File" name="localFile" filename="nlog_local" 
				layout="${longdate}|${level}|${logger}|${message}|${exception}"></target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!-- target local -->
		<logger name="*" minlevel ="Debug" writeTo="localFile"/>
		
		<!-- target DB -->
		<logger name="dbLogInfo" minlevel="Info" maxlevel="Info" writeTo="dbLog" final="true"/>
		<logger name="*" minlevel="Error" writeTo="dbLog"/>
	</rules>
</nlog>